<%= link_to("Back to Homepage", books_path, :class => 'back-link') %>

<div class="books edit">
  <h2>Edit Book</h2>

  <%= form_for(@book) do |f| %>
    <% # url: books_path(@book), method: 'patch' %>

    <%= render(partial: 'form', locals:{f: f})%> 
    <%# local, partial %>

    <div class="form-buttons">
      <%= f.submit("Edit book") %>
    </div>

  <% end %>
</div>
